<h1>Welcome to your Todo List!</h1>
<p>Manage all your tasks in one place while taking notes</p>
<p>This web applicaiton was created using:</p>
<ul class="list-group">
    <a href="https://rubyonrails.org/" class="list-group-item list-group-item-action list-group-item-primary" target="_blank">Ruby on Rails 7</a>
    <a href="https://getbootstrap.com/" class="list-group-item list-group-item-action list-group-item-primary" target="_blank">Bootstrap 5.3</a>
    <a href="https://www.postgresql.org/" class="list-group-item list-group-item-action list-group-item-primary" target="_blank">PostgreSQL</a>
</ul>
<p class="m-4"><i>Created by <a class="link-primary link-underline link-underline-opacity-0 link-underline-opacity-25-hover" href="https://dylanloree.ca" target="_blank">Dylan Loree</a></i></p>
